<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <!-- Managed by cpcv install-macos.sh. Do not put a shell command here. -->
  <key>Label</key>
  <string>io.cpcv.guardian</string>
  <key>ProgramArguments</key>
  <array>
    <string>__CPCV_EXECUTABLE__</string>
    <string>guardian</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>CPCV_CONFIG</key>
    <string>__CPCV_CONFIG__</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>WorkingDirectory</key>
  <string>__CPCV_PROJECT_ROOT__</string>
  <key>StandardOutPath</key>
  <string>__CPCV_LAUNCHD_LOG__</string>
  <key>StandardErrorPath</key>
  <string>__CPCV_LAUNCHD_LOG__</string>
  <key>ProcessType</key>
  <string>Interactive</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>15</integer>
</dict>
</plist>
